---
export interface Props {
	title: string
	type: 'video.movie' | 'website' | 'article' | 'book' | 'profile'
	image: string
	description?: string
}
const url = 'https://roller-eight.vercel.app/';

const { title, type, image, description } = Astro.props;
const socialImageURL = new URL('/ogicon.svg', url);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<meta property="og:title" content={title} />
		<meta property="og:type" content={type} />
		<meta property="og:url" content={url} />
		<meta property="og:image" content={socialImageURL} />
		{description && <meta property="og:description" content={description} /> }

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
